<nav class="nav1">
    <span class="rbs">Available Trains from source to destination</span>
</nav>

<div>
    <div class="div2">
        <mat-card class="card">
          <mat-card-header class="title">
            <mat-card-title>SATAVAHANA EXPRESS</mat-card-title>
          </mat-card-header>
          <mat-card-content class="en-type">
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>2S</h2><br><h3 class="seats">080</h3></button></span>
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>SL</h2><br><h3 class="seats">080</h3></button></span>
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>3A</h2><br><h3 class="seats">080</h3></button></span>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="div2">
        <mat-card class="card">
          <mat-card-header class="title">
            <mat-card-title>VANDE BHARAT EXPRESS</mat-card-title>
          </mat-card-header>
          <mat-card-content class="en-type">
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>2S</h2><br><h3 class="seats">080</h3></button></span>
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>SL</h2><br><h3 class="seats">080</h3></button></span>
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>3A</h2><br><h3 class="seats">080</h3></button></span>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="div2">
        <mat-card class="card">
          <mat-card-header class="title">
            <mat-card-title>NAVJEEVAN EXPRESS</mat-card-title>
          </mat-card-header>
          <mat-card-content class="en-type">
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>2S</h2><br><h3 class="seats">080</h3></button></span>
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>SL</h2><br><h3 class="seats">080</h3></button></span>
            <span><button class="btn2 btn btn-outline-success" type="submit" (click)="goToDetails()"><h2>3A</h2><br><h3 class="seats">080</h3></button></span>
          </mat-card-content>
        </mat-card>
    </div>
</div>


<router-outlet></router-outlet>