.nav1 {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.rbs {
    font-family: 'Staatliches';
    font-size: 30px;
}